
       <section class="hero is-fullheight is-dark has-text-centered " id="about">
    <div class="hero-body">
     <div class="container">
            
            <div class="columns">

                <div class="column is-centered has-text-grey-lighter">


                    <div class="block">
                        <p class="title is-spaced has-text-grey-light is-size-2 is-uppercase has-text-weight-bold">Tools for the Future</p>
                        <p class="subtitle is-4 has-text-grey-light"> Open and Secure</p>
                    </div>

                    <div class="block has-text-light has-text-left">
                        <p class="block">Building open source and free tools to interact with the {{ site.coin }} blockchain. 

                        Using advanced cryptography and quantum resistant systems to secure the future. 

                        Dedicated to bringing innovation and future-minded thinking to the masses with easy to digest systems and tools built off the <a target="_blank" href="{{ site.coin_repo }}">{{ site.coin }} blockchain</a> project. </p>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column is-centered">
                            <hr class="has-background-grey">
                            <div class="block">
                                <p class="title 
                                    has-text-grey-light 
                                    is-spaced 
                                    is-4 
                                    is-uppercase 
                                    has-text-weight-bold ">
                                    Strong Cryptography
                                </p> 
                                <p class="subtitle 
                                    is-7 
                                    has-text-grey-light"> 
                                </p>
                            </div>
                            <div class="block">
                                <p>Using quantum resistant cryptography provides security today. We aim to bring this security to the public with a focus on ease of use and security.</p>
                            </div>
                        </div>
                        <div class="column is-centered">
                            <hr class="has-background-grey">
                            <div class="block">
                                <h4 class="title 
                                    has-text-grey-light 
                                    is-spaced 
                                    is-4 
                                    is-uppercase 
                                    has-text-weight-bold">
                                    Innovative Solutions 
                                </h4> 
                                <p class="subtitle
                                     is-7 
                                     has-text-grey-light"> 
                                </p>
                            </div>
                            <div class="block">
                                <p>Future solutions and great projects will be hosted here, we have great expectations! <br>We're working on developing the next best thing.</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="column is-centered">
   
                        <div class="block is-size-6 "><p> 
                            <hr class="has-background-grey">

                        For now we've hosted a simple faucet to help developers use the {{ site.coin }} blockchain.</p></div>
                    </div>
                    {% if page.url == "/" %}
                        <div class="column is-8 is-offset-2">
                        <a href="{{site.url}}{{site.baseurl}}/#faucet" class="button is-large is-rounded is-uppercase has-text-weight-bold is-black is-outlined is-inverted ">
                                <span>
                                    {{ site.coin }} Faucet
                                </span>
                                <span class="icon is-small"> 
                                    <i class="fas fa-faucet"></i>
                                </span>
                            </a>
                        </div>
                    {% elsif page.url == "/about" %}
                        <div class="column is-8 is-offset-2">
                        <a href="{{site.url}}{{site.baseurl}}/faucet" class="button is-large is-rounded is-uppercase has-text-weight-bold is-black is-outlined is-inverted ">
                                <span>
                                    {{ site.coin }} Faucet
                                </span>
                                <span class="icon is-small"> 
                                    <i class="fas fa-faucet"></i>
                                </span>
                            </a>
                        </div>
                    {% endif %}

                </div>

            </div>

        </div>
    </div>
</section>
