
      <div class="columns">
      <div class="column">

        <div class="field is-grouped ">

          <div class="control select is-light ">
            <select>
              <option>Devet</option>
              <option>TestNet</option>
            </select>
          </div>

          <label class="label"> </label>
          <div class="control">
            <input class="input is-light" type="text" placeholder="Zond Amount">
          </div>

          <label class="label"> </label>
          <div class="control is-expanded ">
            <input class="input is-light" type="text" placeholder="Zond Address">
          </div>

        </div>   

      </div>
    </div>
        <div class="columns">
          <div class="column is-2 is-offset-5">
          <div class="field is-grouped is-centered">
          <div class="control">
            <button class="button is-large is-rounded is-uppercase has-text-weight-bold is-black is-outlined is-inverted">Submit</button>
          </div>

          </div>
</div>
</div>

