<section class="hero is-halfheight has-text-centered is-grey " id="faucet">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column ">   
                    <div class="block">
                        <h1 class=" title second-title is-size-2 is-uppercase has-text-weight-bold is-spaced">{{site.coin}} Testnet </h1>
                            <p class="subtitle is-5"> Bootstrap Files</p> 
                    </div>
                    
                    <div class="block">
                        <p>Use these files to speed up the syncing time for a {{ site.coin }} testnet node.</p>
                    </div>
                    <div class="block">
                        <p>The most secure approach is to spend the time to fully sync your node from scratch. This ensures your local chain is accurate to all other modes and that you are not running a forked chain.<br>

                        If you don't need this security, you can use these files to bootstrap your node setup.</p>
                    </div>
                    <div class="block">
                        <p>Un-tar these state files into your local <code>~/.qrl/data/</code> folder and start the node. This will start at the latest blockheught these files were made and only sync from there.</p>
                    </div>
                    <div class="block">
                       	<ul>
                    		<li>QRL Testnet State Files - <a href="/assets/state/QRL_Testnet_State.tar.gz">QRL_Testnet_State.tar.gz</a></li>
                    		<li>QRL Testnet State Checksums - <a href="/assets/state/Testnet_State_Checksums.txt">Testnet_State_Checksums.txt</a></li>
                    	</ul>
                        <p class="is-italic is-size-7">
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
